.fade_in_section {
	&_up,
	&_down,
	&_left,
	&_right {
		opacity: 0;
		transition: opacity 0.8s ease-out, transform 0.8s ease-out;
		&.visible {
			opacity: 1;
			transform: translateY(0);
		}
	}
	&_up {
		transform: translateY(40px);
	}
	&_down {
		transform: translateY(-40px);
	}
	&_left {
		transform: translateX(40px);
	}
	&_right {
		transform: translateX(-40px);
	}
}
